 body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #230c33;
            color: white;
        }

        header {
            background-color: #9984d4;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            position: relative;
        }

        .Jubilux-Logo-head {
            width: 130px;
        }

        .title-home {
            font-weight: bold;
            font-size: 40px;
            text-align: center;
            flex: 1;
        }

        .btn {
            margin-left: 10px;
            padding: 20px 35px;
            font-size: large;
            background-color: #7f5dc7;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color: #9984d4;
        }

        .image-container {
            display: flex;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
            position: relative;
        }

        .images {
            display: inline-block;
            object-fit: fill;
            padding: 0;
            margin-right: 20px;
        }
        .images:hover {
            box-shadow: 5px 5px 5px #caa8f5;
        }

        section {
            padding: 20px;
            margin: 10px;
            background-color: #3f2a60;
            border-radius: 8px;
        }

        h2 {
            text-align: center;
        }

        .flex-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        
        .card {
            background: #fff;
            padding: 20px;
            margin: 10px;
            border-radius: 8px;
            color: black;
            width: 300px;
            text-align: center;
        }

        .testimonial {
            border-left: 4px solid #9984d4;
            padding: 10px;
            width: 300px;
            margin: 10px;
        }

        input[type="email"] {
            padding: 10px;
            margin: 10px;
            width: 300px;
        }

        footer {
            background-color: #9984d4;
            text-align: center;
            padding: 10px 0;
            position: relative;
        }

        a {
            color: #7f5dc7;
            text-decoration: none;
        }
