body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #4a90e2;
    color: #fff;
    padding: 20px;
    text-align: center;
}


section {
    margin: 20px;
}

h2 {
    color: #333333;
}

h1{ 
    color: #ffffff
}

img {
    display: block;
    margin: 10px 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #4a90e2;
    color: white;
}

ul, ol, dl {
    margin: 20px 0;
}

ul li, ol li {
    margin: 5px 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 20px;
}
