section {
    margin: 20px;
}
.head4{
    color: #ffffff;
    background-color: #4c00ff;
}
#saral {
    color: #ffffff;
    background-color: #007bff;
}

h1{ 
    color: #ffffff
}
* {
    color:#000000;
}
img {
    display: block;
    margin: 10px 0;
}

a {
    color: #007bff;
    text-decoration: none;
}
.sticky-header {
    position: sticky;
    top: 0; /* Sticks at the top */
    background-color: #ff6600; /* You can customize the background color */
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000; /* Ensure it stays on top */
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #4a90e2;
    color: white;
}

ul, ol, dl {
    margin: 20px 0;
}
ol li {
    color: red;
}
ul li, ol li {
    margin: 5px 0;
}
div > p{
    color: blueviolet
}

h2 + p{
    background-color: aqua;
}

h2 ~ p{
    color: rgb(136, 0, 102);
}
dt {
    font-weight: bold;
}

dd {
    margin-left: 20px;
}
